.merchants {
    padding: 24px;
}
.merchants__form-search {
    width: 100%;
    height: 80px;
    background-color: #fff;
}
.title-detail{
    padding-top: 30px;
}
.product-detail-img{
    width: 250px;
}
.product-img{
    width: 100%;
}
.merchant__button{
    margin: 5px 0;
}